<template>
  <div class="home">
    <h1 class="home__title">{{pageTitle}}</h1>
    <h2 class="home__counter">{{counter}}</h2>

    <button @click="onChangeTitle" class="home__button-change">
      Change title
    </button>

    <List></List>

    <CharacterForm></CharacterForm>
  </div>
</template>

<script>
// @ is an alias to /src

import { mapActions, mapGetters } from 'vuex';
import List from '../components/List.vue';
import CharacterForm from '../components/CharacterForm.vue';

export default {
  name: 'home',
  data() {
    return {
      pageTitle: 'Characters list',
    };
  },
  components: {
    List,
    CharacterForm,
  },
  computed: {
    ...mapGetters({
      people: 'list/people',
      counter: 'list/counts',
    }),
  },
  methods: {
    ...mapActions({
      fetchPeopleList: 'list/getPeople',
    }),

    onChangeTitle() {
      this.pageTitle = 'Awesome Characters list';
    },
  },

  async created() {
    await this.fetchPeopleList();
  },
};
</script>
