<template>
  <div class="character-form">
    <input data-test-reactive type="text" v-model="reactiveInput">

    <ValidationProvider name="name" rules="required" v-slot="{ errors }" ref="provider">
      <input @input="setName"
             type="text"
             :value="name"
             :class="{'invalid-control': errors[0]}"
             data-username
             class="character-form__name">
      <span class="invalid-message" data-username-validation-error>{{ errors[0] }}</span>
    </ValidationProvider>

    <select @change="setGender" :value="gender" class="character-form__gender">
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'CharacterForm',
  data() {
    return {
      name: '',
      gender: '',
      reactiveInput: '',
    };
  },

  methods: {
    setName($event) {
      this.name = $event.target.value;

      this.$emit('setCharacter', {
        name: this.name,
        gender: this.gender,
      });
    },

    setGender($event) {
      this.gender = $event.target.value;

      this.$emit('setCharacter', {
        name: this.name,
        gender: this.gender,
      });
    },
  },
};
</script>

<style scoped lang="scss">
  .invalid-control {
    border: 1px solid #C21F39;
  }

  .invalid-message {

  }
</style>
