<template>
  <div class="list">
    <div class="list-item__wrapper">
      <ListItem :key="index" v-for="(character, index) in people" :character="character"
                v-if="!isEmptyList"></ListItem>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ListItem from './ListItem.vue';

export default {
  name: 'List',
  components: {
    ListItem,
  },
  computed: {
    ...mapGetters({
      people: 'list/people',
      counter: 'list/counts',
    }),

    isEmptyList() {
      return !this.people;
    },
  },
};
</script>

<style scoped>

</style>
