<template>
  <li class="list-item">
    <span class="list-item__name">{{character.name}}</span> -
    <span class="list-item__gender">{{character.gender}}</span>
  </li>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    character: Object,
  },
};
</script>

<style scoped>

</style>
