<template>
  <div id="app">
    <div id="nav">
      <h1>Translation test: {{ $tc('test', 1) }} </h1>
      <h2>Translation test: {{ $t('greeting', { name: 'Frodo' }) }} </h2>

      <button @click="changeLocal('de')">Change locale de</button>
      <button @click="changeLocal('fr_FR')">Change locale fr_FR</button>

      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { loadLanguageAsync } from './utils/localize';

export default {
  methods: {
    changeLocal(locale) {
      loadLanguageAsync(locale);
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
